body {
  font-family: "Raleway", sans-serif;
  font-size: 11px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ccccd3;
}

/*начало хэдера*/

.header {
  background-image: url("images/header_back.png");
  width: 100%;
}

.positioner {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.positioner2 {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
  border-top: 1px solid #666883;
  padding-bottom: 156px;
  text-align: center;
}


.positioner::after {
    display: table;
    content: "";
    clear: both;
}


.positioner a {
  float: left;
  padding: 38px 0;
}
.main-menu a {
  display: block;
  float: right;
  margin: 0;
  padding: 45px 60px;
  text-transform: uppercase;
}


.positioner2 h1 {
  font-size: 48px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  width: 650px;
  margin: auto;
  margin-top: 157px;
  display: block;
}

.positioner2 p {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  width: 600px;
  margin: auto;
  margin-top: 44px;
}

.positioner2 a {
  margin-top: 30px;
  padding: 15px 40px;
  background-color: #e84545;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  border: 0;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
}

.find_button:hover {
  background-color: #f35d5d;
}

.main-menu a:hover {
  color: #66697e;
}


/*начало блока features*/

.features {
  width: 100%;
}

.positioner3 {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 128px;
}

.positioner3::after {
    display: table;
    content: "";
    clear: both;
}

.features span {
  display: block;
  background: url(images/sprites.png) no-repeat;
  margin: auto;
}

.f_img1 span {
  width: 60px;
  height: 60px;
  background-position: -1px -2px ;
}

.f_img2 span {
	width: 73px;
	height: 60px;
  background-position: -122px 0px;
}

.f_img3 span {
  width: 41px;
	height: 60px;
	background-position: -247px 0;
}

.f_img4 span {
  width: 56px;
	height: 60px;
	background-position: -341px 0;
}

.f_img5 span {
  width: 72px;
	height: 60px;
	background-position: -446px 0;
}

.f_img6 span {
  width: 79px;
	height: 60px;
	background-position: -561px 0;
}

.blockf h1 {
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 34px;
}

.block1_f,
.block2_f,
.block3_f,
.block4_f,
.block5_f,
.block6_f {
  width: 250px;
}

.block1_f,
.block2_f,
.block3_f {
  float: left;
  margin-top: 121px;
  margin-right: 105px;
}

.block4_f,
.block5_f,
.block6_f {
  float: left;
  margin-right: 105px;
  margin-top: 77px;
}

.block3_f,
.block6_f {
  margin-right: -105px;
}

.block1_f,
.block4_f {
  margin-left: 105px;
}

.blockf {
  text-align: center;
}

.blockf p {
  color: #a0a4a9;
  margin-top: 27px;
}


/*начало блока works*/

figure {
  margin: 0;
}

.works {
  width: 100%;
  min-width: 1170px;
  margin: 0;
  padding: 0;
}
.positioner6 {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
/*
.works img{
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.works .img4,
.works .img8 {
  box-sizing: border-box;
  border-right: none;
}

.works .img5,
.works .img6,
.works .img7,
.works .img8 {
  box-sizing: border-box;
  border-bottom: none;
}*/




.container {
  position: relative;
  float: right;
  margin: 0;
}

.container,
.container div,
.container img {
  width: 25%;
  height: 218px;

}

.container div, .container img {
  position: absolute;
}

.container img {
  z-index: 1000;
  margin: 0;
  box-sizing: border-box;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.block-front {
  z-index: 1001;
  background-color: #e84545;
  transition: all 0.4s ease-in-out 0s;
  opacity: 0;
  color: white;
  cursor: pointer;
}

.block-front:hover {
  opacity: 0.5;
}

.block-front span {
    display: block;
    font-weight: bold;
    padding: 100px 0;
    text-align: center;
    margin: 0;
}

.positioner6::after {
    display: table;
    content: "";
    clear: both;
}
/*начало футера*/

.footer_top {

  width: 100%;
  background: #3a3e64;
  border-top: 1px solid #aba6a5;
}



.positioner4 {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 89px;
}

.positioner4::after {
    display: table;
    content: "";
    clear: both;
}

.footer_block1 {
  width: 130px;
  float: left;
  margin-right: 230px;
  margin-left: 140px;
}

.footer_block2 {
  width: 170px;
  float: left;
  margin-right: 130px;
  text-align: center;
}

.footer_block3 {
  width: 270px;
  float: left;
}

.positioner4 h3 {
  text-align: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 71px;
}

.positioner4 p {
  color: #7b7e97;
  text-align: center;
  margin-top: 22px;
}

.icons {
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 2px solid white;
  border-radius: 2px;
  margin-right: 6px;
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
}

.fb {
  background: url("images/fb_icon.png") no-repeat 50% 50%;
}

.tw {
  background: url("images/twitter_icon.png") no-repeat 50% 50%;
}

.ig {
  background: url("images/ig_icon.png") no-repeat 50% 50%;
}

.footer_bottom {
  width: 100%;
  background: #313454;
  border-top: 1px solid #666883;
}

.positioner5 {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 31px;
  padding-top: 28px;
}

.positioner5 p {
  width: 250px;
  text-align: center;
  color: #5c5e6c;
  margin: auto;
}

span {
  color: #ffffff;
}

/*блок команды */
.team {
  width: 100%;
}

.positioner7 {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 130px;
}

.positioner7::after {
    display: table;
    content: "";
    clear: both;
}

.member1,
.member2,
.member3,
.member4 {
  float: left;
  width: 270px;
  margin-right: 30px;
  margin-top: 102px;
}

.member4 {
  margin-right: -30px;
}

.positioner7 h1 {
  color: #2d3033;
  font-size: 17px;
  font-weight: normal;
  margin-top: 31px;
}

.positioner7 h2 {
  color: #e84545;
  font-size: 11px;
  font-weight: normal;
  margin-top: 16px;
  text-transform: uppercase;
}

.positioner7 p {
  color: #6c7279;
  margin-top: 31px;
}

.iconsm {
  display: inline-block;
  width: 39px;
  height: 39px;
  border: 1px solid #c6cacc;
  margin-right: 5px;
  margin-top: 31px;
}

.fbm {
  background: url("images/team_fb.png") no-repeat 50% 50%;
}

.twm {
  background: url("images/team_tw.png") no-repeat 50% 50%;
}

.igm {
  background: url("images/team_ig.png") no-repeat 50% 50%;
}

/*text block*/

*{
  box-sizing: border-box;
}

section{
  display: block;
}

a{
  text-decoration: none;
}

.section {
  padding: 100px 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:before{
  display: table;
  content: " ";
}

.container:after{
  display: table;
  content: " ";
  clear:both;
}

.text-center{
  text-align: center;
}

.col-md-8 {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.download h3 {
  margin-top: 0;
  font-size: 28px;
  color: #2d3033;
  font-weight: 300;
  margin-bottom: 10px;
  font-family: inherit;
  line-height: 1.1;
}

.download p {
  color: #2d3033;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22.4px;
  margin: 0 0 10px;
}

.download #btn {
  margin-top: 30px;
  padding: 15px 40px;
  background-color: #e84545;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  border: 0;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
}
